body {
    font-family: Optima, sans-serif;
    font-stretch: condensed;
    font-size: large;
}

div.padded {
    padding-left: 20px;
}

/* .pub-title {
    color:dimgray;
} */

i.authors {
    /* color:dimgray; */
}

a:link {
    color: palevioletred;
}